<% layout('layouts/boilerplate') %>
<div class="container-fluid" >
    <div class="row align-items-center bg-danger">
        <div class="col text-center bg-info">
            <p class="display-1 title">Welcome To Martin's Malts</p>
        </div>
    </div>
    <div class="row align-items-center bg-danger">
        <div class="col"></div>
        <div class="col text-center bg-info m-2 p-2 prodCol">
            <p class="display-5 title">Malt Shakes</p>
            <ul>
                <li>stuff</li>
            </ul>
        </div>
        <div class="col text-center bg-info m-2 p-2 prodCol">
            <p class="display-5 title">Ice Creams</p>
            <ul>
                <li>stuff</li>
            </ul>
        </div>
        <div class="col"></div>
    </div>
</div>

