<% layout('layouts/boilerplate') %>
<div class="container-fluid" >
    <div class="row justify-content-center">
        <div class="col text-center">
            <p class="display-1 title">Welcome To Martin's Malts</p>
        </div>
    </div>
</div>

